/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.font1
{
    font-family: 'Roboto', sans-serif;
}

.font2
{
	font-family: 'Roboto Slab', serif;
}

.fw
{
	font-weight: 800;
}

.lne
{
	line-height: 20px;
}

.ne
{
	line-height: 24px;
}

.me
{
	line-height: 20px;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*hover*/

.hvr:hover
{
	zoom: 1.1;
	transition: 150ms;
}

.b-bot:hover
{
	border-bottom: 1px solid whitesmoke;
	max-width: 60%;
	transition: 200ms;
}

/*hover*/

/*Top*/

.ad
{
	background-color: whitesmoke;
}

/*Top*/

/*Navigation*/

.direction
{
	background-color: white;
}


/*Navigation*/


/*Carousel*/

.pr
{
	color: white;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	max-width: 650px;
	border-radius: 6px;
}

.bg4
{
	background-image: url(bg4.jpg);
}

.bg5
{
	background-image: url(bg5.jpg);
}

.bg6
{
	background-image: url(bg6.jpg);

}

.bg4, .bg5, .bg6
{
	background-size: cover;
	height: 600px;
}

@media (max-width:767px) {
    .bg5, .bg6, .bg4 {
        background-image: contain;
    }

	.xt
	{
		text-align: center;
		max-width: 280px;
		margin-left: 30px;
		font-size: small;
	}

 }

/*Carousel*/

/*We Understand*/

.request
{
	background-color: black;
	color: white;
	padding: 30px 0px;
}
/*We Understand*/

/*Cards*/

.crds
{
	padding: 60px 0px;
}

.card
{
	border: none;
	box-shadow: 1px 0px 5px 0px gray;
}

.lts
{
	line-height: 28px;
}

/*Cards*/

/*Progress*/

.ck
{
	background-color: black;
	padding: 60px 0px ;
}

/*Progress*/

/*Specialization*/

.spc
{
	padding: 60px 0px 0px 0px;
}

.lrt
{
	line-height: 26px;
	padding-bottom: 10px;
}

/*Specialization*/

/*Projects*/

.mr
{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}

.prjt
{
	padding: 60px 0px 30px 0px;
	background-color: rgb(226, 202, 202);
}

/*Projects*/

/*Testimonials*/

.testi
{
	padding: 60px 0px;
}

.sz
{
	display: flex;
	justify-content: center;
	border: 1px solid grey;
    padding: 12px;
    margin: 0 0 1rem;
	min-height: 100px;
}


/*Testimonials*/

/*Help*/

.lp
{
	padding: 30px 0px;
}


.lp
{
	background: linear-gradient(90deg, rgba(249,183,1,1) 31%, rgba(0,0,0,1) 35%, rgba(1,1,11,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

.f1
{
	background: none;
	border: 1px dotted whitesmoke;
}

@media(max-width:768px)
{
	.lp
	{
		background: linear-gradient(180deg, rgba(249,183,1,1) 39%, rgba(0,0,0,1) 44%, rgba(1,1,11,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
	}

	.cnt
	{
		text-align: center;
	}
}
/*Help*/

/*Excellence*/

.ex
{
	padding: 60px 0px;
}

.sd:hover
{
	transform: scale(1.02);
	box-shadow: 0 0 10px rgb(5, 54, 161);
	transition: 200ms;
}

/*Excellence*/

/*About Us*/

.services
{
	padding: 60px 0px;
	background-color: black;
	color: white;
}

.bo
{
	border-left: 2px solid rgba(249,183,1,1);
}

/*About Us*/

/*footer*/

.bio
{
	background-color: rgba(249,183,1,1);;
	padding: 20px 0px;

}

/*Thank You*/

